{{ define "main" }}

<div class="row">
    <div class="col"><img style="width: 100%;" src="/img/designs/are-negative-emotions-all-bad.jpg" alt=""></div>
</div>

<div class="row mt-3">
    <div class="col-8"><img style="width: 100%;" src="/img/designs/cypher_poster.jpg" alt=""></div>
    <div class="col-4">
        <div class="col"><img style="width: 100%;" src="/img/designs/raze_poster.jpg" alt=""></div>
        <div class="col mt-4"><img style="width: 100%;" src="/img/designs/omen_poster.jpg" alt=""></div>
    </div>
</div>

<div class="row mt-3">
    <div class="col"><img style="width: 100%;" src="/img/designs/jjk_tshirt_design.jpg" alt=""></div>
    <div class="col"><img style="width: 100%;" src="/img/designs/naruto_tshirt_design.jpg" alt=""></div>
</div>

<div class="row mt-3">
    <div class="col"><img style="width: 100%;" src="/img/designs/sova_poster.jpg" alt=""></div>
</div>

<div class="row mt-3">
    <div class="col"><img style="width: 100%;" src="/img/designs/trust the timing of your life.jpg" alt=""></div>
    <div class="col"><img style="width: 100%;" src="/img/designs/live life to the fullest.jpg" alt=""></div>
</div>

{{ end }}