<footer class="mt-5">
    <hr>

    <div class="d-flex justify-content-between">
        <p class="text-white-80">Psychomantis</p>

        <div class="d-flex footer-social gap-3">
            <a href="mailto:{{ .Site.Params.Social.Email }}" target="_self">
                <span class="bi bi-envelope-fill text-white-80 cursor-pointer"></span>
            </a>
            <a href="https://www.instagram.com/{{ .Site.Params.Social.Instagram }}/" target="_blank">
                <span class="bi bi-instagram text-white-80 cursor-pointer"></span>
            </a>
            <a href="https://github.com/{{ .Site.Params.Social.Github }}" target="_blank">
                <span class="bi bi-github text-white-80 cursor-pointer"></span>
            </a>
        </div>
    </div>
</footer>